/* HOME */
section#home-inicio .bg-image img{
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	object-fit: cover;
}

section#home-inicio .bg-image{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}

section#home-inicio{
	padding-top: 20px;
	padding-bottom: 50px;
	/* position: relative; */
	margin-top: 100px;
}



section#home-inicio .items-info-right{
	
}

section#home-inicio .items-info-right .item{
	position: relative;
	-webkit-transition: all 0.2s ease;  
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;  
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

section#home-inicio .items-info-right .item:hover {
    opacity: 0.7;
}

section#home-inicio .items-info-right .item a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

section#home-inicio .items-info-right .item .bg{
    padding: 39px 30px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 4px 5px 7px 1px rgb(0 0 0 / 31%);
    background-color: white;
}

section#home-inicio .items-info-right > :last-child{
	width: 100%;
}

section#home-inicio .items-info-right .titulo_flex{
    text-align: center;
    color: #29AAE1;
    font-weight: 700;
    font-size: 16px;
}

section#home-inicio .menu-info .info-right .titulo{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: 700;
    color: #4D4D4D;
    text-align: right;
    background-color: white;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-top: 25px;
    min-width: 66%;
    border-radius: 34px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
section#home-inicio .menu-info .info-right .titulo span{
	color: #FF9411;
}
section#home-inicio .menu-info .info-right > :first-child{
    position: relative;
}

section#home-inicio .menu-info .info-right > :first-child .image {
    border-radius: 0 0 0 40px;
    overflow: hidden;
    font-size: 0;
}

section#home-inicio .menu-info .info-right > :first-child .image img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}
@media screen and (max-width:900px){
	section#home-inicio .bg-image img{}
	
	section#home-inicio .bg-image{}
	
	section#home-inicio{}
	
	section#home-inicio .items-info-right{}
	
	section#home-inicio .items-info-right .item{}
	
	section#home-inicio .items-info-right .item:hover {}
	
	section#home-inicio .items-info-right .item a {}
	
	section#home-inicio .items-info-right .item .bg{
	    margin: 0;
	}
	
	section#home-inicio .items-info-right > :last-child{}
	
	section#home-inicio .items-info-right .titulo_flex{}
	
	section#home-inicio .menu-info .info-right .titulo{
	    width: 100%;
	    border-radius: 0;
	    position: initial;
	}
	
	section#home-inicio .menu-info .info-right .titulo span{}
	
	section#home-inicio .menu-info .info-right > :first-child{
	    position: relative;
	    margin-bottom: 40px;
	}
	
	section#home-inicio .menu-info .info-right > :first-child .image {
	    border-radius: 0;
	    /* margin-left: -15px; */
	    /* margin-right: -15px; */
	}
	
	section#home-inicio .menu-info .info-right > :first-child .image img {
	    height: 160px;
	}
}