/* HOME */
section#home-inicio .bg-image img{
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	object-fit: cover;
}
section#home-inicio .bg-image{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}
section#home-inicio{
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	margin-top: 100px;
}
section#home-inicio .menu-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section#home-inicio .menu-info .menu-left{
    background-color: #253C92;
}
section#home-inicio .menu-info .menu-left li{
    list-style: none;
    margin-bottom: 15px;
}
section#home-inicio .container{ 
}
@media screen and (max-width:900px){
section#home-inicio .bg-image{}
section#home-inicio .bg-image img{}
section#home-inicio{}
section#home-inicio .container{}
}