.customer-date {
    gap: 15px;
    display: grid;
    grid-template-columns: 200px 0.7fr 1fr;
    padding-bottom: 50px;
}

.customer-date.flex {}

.customer-date .pic {
}

.customer-date .pic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.customer-date .dates {
}

.customer-date .dates img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
}

.customer-date .location {
    overflow: hidden;
    border-radius: 20px;
    font-size: 0;
}

.table-actions {
    background-color: white;
    border-radius: 25px;
    padding: 30px 5px;
}

.table-actions td {
    border-top: 2px solid #666666;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-actions tr:last-child td {
    border-bottom: 2px solid #666666;
}

.table-actions td:first-child {
    padding-left: 18px;
}

.table-actions td:last-child {
    padding-right: 18px;
}

.table-actions table {
    width: 100%;
    border-collapse: unset;
    border-spacing: 0;
    margin-top: 15px;
}

.table-actions table .subtitle {
    margin: 0;
    font-size: 12px;
    color: #000;
}

.table-actions h5 {
    padding-left: 20px;
    padding-right: 20px;
}

.footer-table {
    background-color: #CBCBCB;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3px;
}

.footer-table a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 40px;
    display: inline-flex;
    background-color: #989898;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.footer-table a:hover{
    color: white;
    background-color: #787878
}