section#article {
  padding-top: 70px;
  padding-bottom: 80px;
  position: relative;
  background-color: #fcfcfc;
}

section#article .container {
  position: relative;
  z-index: 1;
  max-width: 1150px;
}

section#article .title {
  font-weight: 600;
  padding-bottom: 20px;
  padding: 1rem;
}

section#article .title:before {
  content: "";
}

section#article .items-article {
  text-align: center;
  align-items: start;
  display: grid;
  grid-template-columns: 70% 30%;
}

section#article .items-article .item {}

section#article .item-noticia>.bg {
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 19px rgb(0 0 0 / 8%);
  box-shadow: 0 3px 19px rgb(0 0 0 / 8%);
}

section#article .items-article .icono_flex {
  padding-bottom: 20px;
  text-align: center;
}

section#article .items-article .icono_flex img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

section#article .items-article .imagen_flex {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 65%;
}

section#article .items-article .imagen_flex img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

section#article .items-article .titulo_flex {
  text-align: left;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--c-title);
}

section#article .items-article .texto_flex {
  font-size: 0.7rem;
  line-height: 1.8;
  text-align: left;
  padding: 10px 0;
  padding-bottom: 0;
  color: #616161;
}

section#article .items-article .texto_flex h1,
section#article .items-article .texto_flex h2,
section#article .items-article .texto_flex h3,
section#article .items-article .texto_flex h4,
section#article .items-article .texto_flex h5,
section#article .items-article .texto_flex h6,
section#article .items-article .texto_flex h7 {
  color: #000;
}

section#article .items-article .item .title-notice {
  padding: 0;
  width: auto;
}

section#article .items-article .item-noticia .imagen_flex {}

section#article .items-article .item-noticia .text-noticia {
  padding: 35px 40px;
  border-radius: 0 0 10px 10px;
  /* box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 20%); */
  background-color: #fff;
}

section#article .items-article .item-noticia .imagen_flex img {
  border-radius: 10px 10px 0 0;
}

section#article .items-article .item-noticia .text-noticia .seccion-fecha {
  position: relative;
  font-size: 12px;
  text-align: right;
  color: #444;
}

section#article .items-article .item-noticia .text-noticia .seccion-fecha .categorias {
  float: left;
}

.categorias:before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M345 39.1L472.8 168.4c52.4 53 52.4 138.2 0 191.2L360.8 472.9c-9.3 9.4-24.5 9.5-33.9 .2s-9.5-24.5-.2-33.9L438.6 325.9c33.9-34.3 33.9-89.4 0-123.7L310.9 72.9c-9.3-9.4-9.2-24.6 .2-33.9s24.6-9.2 33.9 .2zM0 229.5V80C0 53.5 21.5 32 48 32H197.5c17 0 33.3 6.7 45.3 18.7l168 168c25 25 25 65.5 0 90.5L277.3 442.7c-25 25-65.5 25-90.5 0l-168-168C6.7 262.7 0 246.5 0 229.5zM144 144c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z'/%3E%3C/svg%3E");
  width: 13px;
  height: 13px;
  vertical-align: middle;
  opacity: 0.4;
  transform: translateY(-2px);
  margin-right: 6px;
}

section#article .items-article .item-noticia .text-noticia .seccion-fecha a {
  color: var(--c-primary);
  text-decoration: none;
}

section#article .items-article .item-noticia .text-noticia .seccion-fecha .fecha::before {
  content: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 4.66663C8.5 4.39049 8.27613 4.16663 8 4.16663C7.72387 4.16663 7.5 4.39049 7.5 4.66663V7.99996C7.5 8.17236 7.5888 8.33256 7.735 8.42396L9.735 9.67396C9.9692 9.82029 10.2777 9.74916 10.424 9.51496C10.5703 9.28076 10.4992 8.97229 10.265 8.82596L8.5 7.72283V4.66663Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.99996 2.16663C4.7783 2.16663 2.16663 4.7783 2.16663 7.99996C2.16663 11.2216 4.7783 13.8333 7.99996 13.8333C11.2216 13.8333 13.8333 11.2216 13.8333 7.99996C13.8333 4.7783 11.2216 2.16663 7.99996 2.16663ZM3.16663 7.99996C3.16663 5.33059 5.33059 3.16663 7.99996 3.16663C10.6694 3.16663 12.8333 5.33059 12.8333 7.99996C12.8333 10.6694 10.6694 12.8333 7.99996 12.8333C5.33059 12.8333 3.16663 10.6694 3.16663 7.99996Z' fill='black'/%3E%3C/svg%3E");
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  opacity: 0.8;
  margin-right: 3px;
}

section#article .items-article .item-noticia .text-noticia .seccion-fecha span {
  display: inline-block;
}

section#article img.forma-01 {
  position: absolute;
  z-index: 0;
  top: 0;
}

section#article .items-article .item.ultimas-noticias {
  padding: 0;
}

section#article .items-article .item.ultimas-noticias .bg {
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 40px;
}

section#article .items-article .item.ultimas-noticias .title {
  text-align: left;
  padding-bottom: 12px;
  padding-left: 15px;
  font-size: 0.9rem;
  padding-right: 15px;
  margin-bottom: 0;
  padding-top: 15px;
}

section#article .items-article .item.ultimas-noticias .title:after {
  content: "";
  height: 4px;
  background-color: var(--c-primary);
  display: block;
  width: 45px;
  margin-top: 15px;
}

section#article .items-article .item.ultimas-noticias .flex {
  padding: 1rem 0.7rem;
  border-bottom: 1px solid #e8e8e8;
  /* align-items: center; */
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  align-items: center;
}

section#article .items-article .item.ultimas-noticias .flex:last-child {
  border-bottom: 0;
}

section#article .items-article .item.ultimas-noticias a {
  text-decoration: none;
  color: var(--c-title);
}

section#article .items-article .item-noticia {
  padding-right: 2rem;
  padding-top: 0;
}

section#article .redes-sociales {
  padding-top: 1rem;
  border-top: 1px solid #e6e6e6;
}

section#article .redes-sociales .icons-redes {}

section#article .redes-sociales .icons-redes a {
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

section#article .redes-sociales .icons-redes a:hover {
  background-color: var(--c-primary);
  border-color: var(--c-primary);
}

section#article .redes-sociales .icons-redes a:hover img {
  filter: brightness(0) invert(1);
}

section#article .redes-sociales .icons-redes ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 7px;
  margin: 0;
}

section#article .redes-sociales .icons-redes ul>li {
  display: block;
}

section#article .redes-sociales .icons-redes ul>li img {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(0.5);
}

section#article .items-article .item.ultimas-noticias> :last-child {
  border-bottom: none;
}

section#article .items-article .item.ultimas-noticias .flex .imagen_flex {
  padding-bottom: 80%;
  border-radius: 3px;
}

section#article .items-article .item.ultimas-noticias .flex .imagen_flex img {
  /* width: 100px; */
}

@media screen and (max-width: 900px) {
  section#article {}

  section#article .container {}

  section#article .title {}

  section#article .items-article {}

  section#article .items-article .item {}

  section#article .items-article .bg {}

  section#article .items-article .icono_flex {}

  section#article .items-article .icono_flex img {}

  section#article .items-article .imagen_flex {}

  section#article .items-article .imagen_flex img {}

  section#article .items-article .titulo_flex {}

  section#article .items-article .texto_flex {}

  section#article .items-article .item-noticia {
    padding: 0;
    margin-bottom: 40px;
  }

  section#article .items-article .item-noticia .text-noticia {
    padding: 25px;
  }

  section#article .redes-sociales .icons-redes ul {
    flex-wrap: wrap;
  }
}

section#header-blog {
  padding-top: 135px;
  text-align: center;
  padding-bottom: 40px;
  color: #333;
  /* background: linear-gradient(-18deg, var(--c-primary) 16%, #0a0003 230%); */
  background: #E6E5EA;
  position: relative;
}

section#header-blog .container {
    max-width: 950px;
}

section#header-blog .title {
  color: inherit;
}

section#header-blog .suptitle {
  font-size: 11px;
  margin-bottom: 15px;
  opacity: 0.8;
}

section#header-blog .title:after {
  /* content: ""; */
  display: block;
  height: 4px;
  background-color: #fff;
  width: 60px;
  margin: 0 auto;
  margin-top: 20px;
}

.formas-puntitos {
  filter: brightness(0) invert(1);
  opacity: 0.6;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
}

.formas-puntitos img {
  position: absolute;
  pointer-events: none;
}

.formas-puntitos .puntitos-05 {
  top: 0;
  right: 0;
}

.formas-puntitos .puntitos-06 {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

ul.category {
  display: block;
  text-align: left;
  padding: 0;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
}

ul.category li {
  display: block;
}

ul.category li:last-child a {
  border-bottom: 0;
}

ul.category li a {
  text-decoration: none;
  font-size: 0.7rem;
  display: block;
  padding-bottom: 13px;
  padding-top: 13px;
  border-bottom: 1px solid #eee;
  color: #444;
}

ul.category li a:hover {
  color: #000;
}

section#article .items-article .item-noticia .text-noticia .seccion-fecha a:hover {
  filter: brightness(0.7);
}

section#article .items-article .titulo_flex:hover {
  color: var(--c-primary);
}

section#article .items-article .item.ultimas-noticias a:hover .titulo_flex {
  filter: brightness(1.1);
  color: var(--c-primary);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section#article .items-article .item.ultimas-noticias a:hover .imagen_flex {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  filter: brightness(1.1);
}

section#article .items-article .item.ultimas-noticias ul.category li a:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  filter: brightness(1.1);
  color: var(--c-primary);
}